@model PurchaseHistoryViewModel

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-12">
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success mt-3">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger mt-3">
                    @TempData["Error"]
                </div>
            }
            @if (Model.Orders.Count() == 0)
            {
                <h2 class="mt-3">No Orders Made!</h2>
                <hr style="height:4px;color:aquamarine" />
            }
            else
            {
                <ul class="list-group gap-3 mt-3">
                    @foreach (var order in Model.Orders.OrderByDescending(d=>d.OrderDate))
                    {
                        var products = order.OrderProducts.Select(p => p.Product);
                        
                        <li class="list-group-item d-flex align-items-center gap-5 border-2" style="border-color:aquamarine">
                            <div class="card" style="width:10vw;border-color:aquamarine">
                                @order.OrderDate.ToString("dd/MM/yyyy HH:mm:ss")
                            </div>
                            <div class="" style="width: 15vw; overflow-wrap: break-word;">
                                @foreach(var product in products)
                                {
                                    <p style="margin-top:0.5rem">@product.Name</p>
                                    <hr style="color:aquamarine;height:2px"/>
                                }
                            </div>
                            <div style="margin-left:20rem">
                                Total Price: @order.FinalPrice$
                            </div>
                           
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>