@model IEnumerable<ProductCardViewModel>
@*<div class="">
    <form asp-action="All" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="categoryName" />
                <input type="submit" value="Search" class="btn btn-default" />
            </p>
        </div>
    </form>
</div>*@

<div class="text-center row">
    
    @foreach (var product in Model)
    {
        <div class="card border-2" style="width: 18rem; margin-top: 25px; margin-left: 15px;border-color:aquamarine;">
            <form asp-action="ViewProduct" asp-controller="Product" method="get">
                <button name="productName" value="@product.Name" class="btn">
                    <img class="card-img-top" style="width: 100%; height: 18rem; margin-top:15px; display: flex; gap: 2rem" src="@product.ImageUrl" alt="Card image cap">
                </button>
            </form>
            <hr style="color: aquamarine; height:2px">
            <div class="card-body" style="">
                <center><font size="+1"><p class="card-text mb-3">@product.Name</p></font></center>
                <center><font><p class="card-text mb-3">@product.Price $</p></font></center>
            </div>
            @if (User.IsInRole("Administrator"))
            {
                <form asp-action="Edit" asp-controller="Product" method="get">
                    <button name="productName" value="@product.Name" class="btn-dark mb-3">
                        Edit
                    </button>
                </form>
            }
        </div>

    }
    
</div>