@model RemoveProductViewModel
@{
    <div class="mask d-flex align-items-center h-100 gradient-custom-3 mt-5">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card border-2" style="border-radius: 15px;border-color:aquamarine">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Unlist Product</h2>

                                @if (TempData["Error"] != null)
                            {
                                    <div class="alert alert-danger">
                                         @TempData["Error"]
                                    </div>
                            }
                                <form id="categoryCreation" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-outline mb-4">
                                        <label asp-for="@Model.Name">Product Name</label>
                                        <input id="form3Example3cg" class="form-control form-control-lg" aria-required="true" asp-for="@Model.Name" style="border-color:aquamarine" />
                                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button id="categoryCreation" type="submit" class="btn btn-primary btn-danger btn-block btn-lg gradient-custom-4 text-body">Unlist Product</button>
                                    </div>
                                    <div class="list-group mt-3">
                                        <a class="list-group-item list-group-item-action active">Products</a>
                                        @if(Model.Products.Any()==false)
                                    {
                                            <a class="list-group-item list-group-item-action" style="border-color:aquamarine">No Products Available</a>
                                    }
                                    else
                                    {
                                        foreach (var product in Model.Products.OrderBy(p=>p.IsAvailable))
                                        {
                                            string availability=product.IsAvailable ? "Available":"Unavailable";
                                                @if(product.IsAvailable)
                                            {
                                                    <a class="list-group-item list-group-item-action" style="border-color:aquamarine">@product.Name - @product.Category.Name - @availability</a>

                                            }
                                            else
                                            {
                                                    <a class="list-group-item list-group-item-action" style="border-color:aquamarine;color:red">@product.Name - @product.Category.Name - @availability</a>
                                            }
                                        }
                                    }
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
}

