
@model ProductViewModel

<div class="container">
    <div class="row">
        <div class="col">
            @if (TempData["ViewProductSuccess"] != null)
            {
                <div class="alert alert-success mt-2">
                    @TempData["ViewProductSuccess"]
                </div>
            }
            @if (TempData["ViewProductError"] != null)
            {
                <div class="alert alert-danger mt-2">
                    @TempData["ViewProductError"]
                </div>
            }
            <div class="card border-2" style="width: 36rem; margin-top: 25px;border-color:aquamarine">
                <img class="card-img-top" style="width: 35rem; height: 35rem;object-fit:cover; margin-top:15px;" src="@Model.ImageUrl" alt="Card image cap">
            </div>
            <div style=" margin-top: 1rem; width:36rem">

                <font size="+3" style="font-family: 'Courier New', monospace;">
                    <center><strong>DESCRIPTION </strong></center>
                </font>
                <hr style="height:2px; color:aquamarine"  />
                <div style="overflow-wrap: break-word;">
                    <font size="+1" style="font-family: 'Courier New', monospace;">
                        <p>
                            @Model.Description
                        </p>
                    </font>
                 </div>
            </div>
        </div>
        <div class="col" style="width: 36rem; margin-top: 25px;">
            <div>
                <center><font size="+5" style="font-family: 'Courier New', monospace;">@Model.Name</font></center>
                <hr style="height:3px; color:aquamarine"  />
            </div>
            <center>
                <div class="card" style="width: 36rem; margin-top:25px; border-color:aquamarine">
                    <center style="margin-top: 3rem; margin-bottom: 3rem">
                        <font size="+3" style="font-family:'Rockwell', serif;">
                            <p>
                                @Model.Price $
                            </p>
                        </font>
                        <form asp-action="AddToCart" asp-controller="Product">
                            <button name="productName" value="@Model.Name" class="btn btn-success">Add To Shopping Cart</button>
                        </form>
                    </center>
                </div>
            </center>
        </div>
    </div>
</div>
@section Scripts{
   
}
