@model ProductViewModel

<div class="container">
    <div class="row">
        <div class="col">
            @if (!Model.IsAvailable)
            {
                <h1 style="color:red;margin-top:1rem">Unavailable!</h1>
            }
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success mt-3">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger mt-3">
                    @TempData["Error"]
                </div>
            }
            <div class="card border-2" style="width: 36rem; margin-top: 25px;border-color:aquamarine">
                <img class="card-img-top" style="width: 35rem; height: 35rem;object-fit:contain; margin-top:15px;" src="@Model.ImageUrl" alt="Card image cap">
            </div>
            <div style=" margin-top: 1rem; width:36rem">

                <font size="+3" style="font-family: 'Courier New', monospace;">
                    <center><strong>DESCRIPTION </strong></center>
                </font>
                <hr style="height:2px; color:aquamarine" />
                <div style="overflow-wrap: break-word;">
                    <font size="+1" style="font-family: 'Courier New', monospace;">
                        <p>
                            @Model.Description
                        </p>
                    </font>
                </div>
            </div>
        </div>
        <div class="col" style="width: 36rem; margin-top: 25px;">
            <div>
                <center><font size="+5" style="font-family: 'Courier New', monospace;">@Model.Name</font></center>
                <hr style="height:3px; color:aquamarine" />
            </div>
            <center>
                <div class="card" style="width: 36rem; margin-top:25px; border-color:aquamarine">
                    <center style="margin-top: 3rem; margin-bottom: 3rem">
                        <font size="+3" style="font-family:'Rockwell', serif;">
                            <p>
                                @Model.Price $
                            </p>
                        </font>
                        @if (Model.IsAvailable == true)
                        {
                            <form asp-action="AddToCart" asp-controller="Product">
                                <button name="productName" value="@Model.Name" class="btn btn-success">Add To Shopping Cart</button>
                            </form>
                        }
                        else
                        {
                            <button class="btn btn-danger">Unavailable</button>
                        }

                    </center>
                </div>
                <div style="margin-top:2rem">
                    @if (User.IsInRole("Administrator"))
                    {
                        <form asp-action="Edit" asp-controller="Product" asp-area="Admin" method="get">
                            <button name="productName" value="@Model.Name" class="btn-dark mb-3" style="width:5rem;height:2.5rem">
                                Edit
                            </button>
                        </form>
                    }
                </div>
            </center>
        </div>
    </div>
</div>
