@model CheckoutViewModel
<style>
    .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}   

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn1 {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn1:hover {
  background-color: #45a049;
}

span.price {
  float: right;
}

}
blueborder{
    border-color:aquamarine;
}
</style>
<form method="post">
    
<div class="row">
    <div class="col-75">
        <div class="container">
                @if (TempData["Checkout"] != null)
                {
                    <div class="alert alert-success mt-3">
                         @TempData["Checkout"]
                    </div>
                }
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger mt-3">
                        @TempData["Error"]
                    </div>
                }
                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label asp-for="@Model.FullName"><i class="fa fa-user"></i> Full Name</label>
                            <input asp-for="@Model.FullName" type="text" placeholder="John M. Doe" class="form-control" style="border-color:aquamarine;" aria-required="true" />
                            <span asp-validation-for="FullName" class="text-danger"></span>

                            <label asp-for="@Model.Email"><i class="fa fa-user"></i>Email address</label>
                        <input asp-for="@Model.Email" type="text" placeholder="john@example.com" class="form-control" style="border-color:aquamarine;" aria-required="true" />
                            <span asp-validation-for="Email" class="text-danger"></span>

                            <label asp-for="@Model.Address"><i class="fa fa-user"></i>Address</label>
                        <input asp-for="@Model.Address" type="text" placeholder="542 W. 15th Street" class="form-control"style="border-color:aquamarine;" aria-required="true" />
                            <span asp-validation-for="Address" class="text-danger"></span>

                            <label asp-for="@Model.City"><i class="fa fa-user"></i>City</label>
                        <input asp-for="@Model.City" type="text" placeholder="New York" class="form-control" style="border-color:aquamarine;" aria-required="true" />
                            <span asp-validation-for="City" class="text-danger"></span>
                            
                                    <label asp-for="@Model.Zip"><i class="fa fa-user"></i>Zip</label>
                                <input asp-for="@Model.Zip" type="text" placeholder="5800" class="form-control" style="border-color:aquamarine;" aria-required="true" />
                                    <span asp-validation-for="Zip" class="text-danger"></span>
                               

                        
                    </div>
                    <div class="col-50">
                        <h3>Payment</h3>

                        <label asp-for="@Model.NameOnCard"><i class="fa fa-user"></i>Name on Card</label>
                        <input asp-for="@Model.NameOnCard" type="text" placeholder="John More Doe" class="form-control" style="border-color:aquamarine;" aria-required="true" />
                        <span asp-validation-for="NameOnCard" class="text-danger"></span>

                        <label asp-for="@Model.CreditCardNumber"><i class="fa fa-user"></i>Credit Card Number</label>
                        <input asp-for="@Model.CreditCardNumber" type="text" placeholder="1111-2222-3333-4444" class="form-control" style="border-color:aquamarine;" aria-required="true" />
                        <span asp-validation-for="CreditCardNumber" class="text-danger"></span>

                        <label asp-for="@Model.ExpMonth"><i class="fa fa-user"></i>Exp Month</label>
                        <input asp-for="@Model.ExpMonth" type="text" placeholder="07" class="form-control" style="border-color:aquamarine;" aria-required="true" />
                        <span asp-validation-for="ExpMonth" class="text-danger"></span>

                        <div class="row">
                            <div class="col-50">
                                <label asp-for="@Model.ExpYear"><i class="fa fa-user"></i>Exp Year</label>
                                <input asp-for="@Model.ExpYear" type="text" placeholder="@DateTime.Now.Year" class="form-control" style="border-color:aquamarine;" aria-required="true" />
                                <span asp-validation-for="ExpYear" class="text-danger"></span>
                            </div>
                            <div class="col-50">
                                <label asp-for="@Model.CVV"><i class="fa fa-user"></i>CVV</label>
                                <input asp-for="@Model.CVV" type="text" placeholder="352" class="form-control" style="border-color:aquamarine;" aria-required="true" />
                                <span asp-validation-for="CVV" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
        </div>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                </label>
                    <button type="submit" class="btn1">
                         Finalize purchase
                    </button>
        </div>
    </div>

    <div class="col-25">
        <div class="container">
            <h4>
                Cart
                <span class="price" style="color:black">
                    <i class="fa fa-shopping-cart"></i>
                    <b>@Model.Products.Count</b>
                </span>
            </h4>
            @foreach(var product in Model.Products)
            {
                <hr />
                <p><a>@product.Name</a> <span style="float:right">$@product.Price</span></p>
            }
                <hr style="height:2px;color:aquamarine;">
            <p>Total <span class="price" style="color:black"><b>$@Model.Products.Sum(p=>p.Price)</b></span></p>
        </div>
    </div>
</div>
</form>
